.searchResults {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px 20px;
    padding-bottom: 0;
    margin: 0;
    background-color: #a3a1a10d;
    overflow-y: scroll;
    height: 86vh;
}

.searchResults::-webkit-scrollbar {
    display: none;
}

.searchResults__top {
    display: flex;
    align-items: center;
    align-content: flex-start;
    font-size: 10px !important;
    color: grey !important;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.searchResults__top > h2 {
    margin-left: 10px;
    color: gray;
}

.searchResults__bottom {
    margin-top: 5px;
    padding: 0;
}

@media (max-width: 300px) {
    .searchResults {
        padding-left: 0;
        padding-right: 0;
    }
}
