.SearchResultsComponent {
    display: flex;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
    text-decoration: none;
}

.image__div {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 20px;
    padding: 0;
}

.video__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.component__details {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.component__header {
    display: flex;
    align-items: center;
}

.component__title {
    flex: 1;
    font-size: 18px;
    font-weight: 400;
    color: #030303;
}

.more__icon__button {
    height: 40px;
    width: 40px;
}

.more__icon__button:hover {
    background-color: transparent !important;
}

.more__icon {
    height: 24px !important;
    width: 24px !important;
    color: #606060 !important;
}

.more__icon:hover {
    color: #030303;
    cursor: pointer;
}

.component__views__and__timestamp {
    display: flex;
    align-items: center !important;
    font-size: 13px;
    color: #606060;
}

.component__avatar__and__channelInfor {
    display: flex;
    align-items: center !important;
    justify-items: flex-start;
    padding-top: 12px;
    padding-bottom: 12px;
}

.component__avatar {
    height: 24px !important;
    width: 24px !important;
    margin-right: 10px !important;
}

.channel__name {
    font-size: 13px;
    color: #606060;
    margin-right: 5px;
    margin-top: 0;
}

.verified__icon {
    color: #606060;
    font-size: small !important;
}

.component__description {
    font-size: 13px;
    color: #606060;
    overflow: hidden;
}

/* media queries */

@media (max-width: 300px) {
    .SearchResultsComponent {
        flex-direction: column;
        height: 90vw;
        margin-bottom: 20px;
    }

    .image__div {
        margin-right: 0;
        height: 68%;
    }

    .component__details {
        margin-top: 5px;
        height: 32%;
    }

    .component__title {
        font-size: 13px !important;
        margin-bottom: 3px;
        height: 30px;
    }

    .component__views__and__timestamp {
        font-size: 11px !important;
    }

    .component__avatar__and__channelInfor {
        padding-bottom: 0;
        padding-top: 5px;
    }

    .channel__name {
        font-size: 11px !important;
    }

    .component__description {
        display: none;
    }
}

@media (min-width: 301px) and (max-width: 400px) {
    .SearchResultsComponent {
        flex-direction: column;
        height: 80vw;
        margin-bottom: 10px;
    }

    .image__div {
        margin-right: 0;
        height: 65%;
    }

    .component__details {
        margin-top: 10px;
        height: 35%;
    }

    .component__title {
        font-size: 15px !important;
        margin-bottom: 3px;
    }

    .component__avatar__and__channelInfor {
        padding: 0;
    }

    .component__description {
        height: 30px;
        overflow: hidden;
    }
}

@media screen and (min-width: 401px) and (max-width: 499px) {
    .SearchResultsComponent {
        height: 183px;
        margin-bottom: 0px;
    }

    .image__div {
        width: 60%;
        padding-bottom: 15px;
        padding-top: 15px;
        margin-right: 10px;
    }

    .component__details {
        width: 40%;
        padding-top: 10px;
    }

    .component__title {
        font-size: 14px !important;
        height: 30px;
        overflow: hidden;
        flex-wrap: wrap;
    }

    .component__views__and__timestamp {
        font-size: 12px !important;
        padding-top: 5px;
    }

    .component__avatar__and__channelInfor {
        padding: 0;
    }

    .component__description {
        height: 60px;
        overflow: hidden;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
    .SearchResultsComponent {
        height: 183px;
        margin-bottom: 0px;
    }

    .image__div {
        width: 52%;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .component__details {
        width: 48%;
        padding-top: 10px;
    }

    .component__title {
        font-size: 16px !important;
    }

    .component__avatar__and__channelInfor {
        padding-top: 5px;
        padding-bottom: 0;
    }

    .component__description {
        height: 60px;
        overflow: hidden;
    }
}

@media screen and (min-width: 601px) and (max-width: 876px) {
    .SearchResultsComponent {
        height: 183px;
    }

    .image__div {
        width: 48%;
    }

    .component__details {
        width: 52%;
    }

    .component__avatar__and__channelInfor > .channel__name {
        width: auto;
    }
}

@media screen and (min-width: 877px) {
    .SearchResultsComponent {
        height: 205px;
    }

    .image__div {
        width: 360px;
    }

    .component__details {
        flex: 1;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1328px) {
    .SearchResultsComponent {
        height: 205px;
        margin-left: 2.5rem;
    }
}
