.likedVideos {
    display: flex;
    flex: 1;
    height: 91.5vh;
    background-color: #f9f9f9;
    font-family: "Roboto", Arial, sans-serif;
    color: #000000;
}

.lv__summary {
    display: flex;
    flex-direction: column;
    width: 23rem;
    height: 100%;
    padding-right: 32px;
    padding-left: 32px;
    background-color: transparent;
    overflow-y: scroll;
}

.lv__summary__two {
    display: none;
}

.lv__summary::-webkit-scrollbar {
    display: none;
}

.lv__video__details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 22rem;
    margin: 0;
    padding-top: 24px;
    border-bottom: 1px solid lightgray;
}

.lv__image {
    width: 100%;
    height: 12.5rem;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFyqaajk_qzjK_VdmCAIXoXwVm1NOCtyYIYw&usqp=CAU");
}

.play__all {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    margin-top: 43.5%;
    background-color: #000000cc;
    cursor: pointer;
    opacity: 0.8;
}

.play-icon {
    color: #ffffff !important;
    font-size: 24px !important;
    margin-right: 8px;
}

.play__all > span {
    color: #ffffff;
    font-size: 14px;
}

.video__details > h2 {
    font-size: 24px;
    font-weight: 500;
    color: #030303;
    margin-bottom: 8px;
    cursor: pointer;
}

.metadata {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.metadata > p {
    display: flex;
    align-items: center;
    color: #606060;
    margin-right: 4px;
    font-size: 14px;
    cursor: pointer;
}

.metadata > p > span {
    margin-right: 4px;
}

.time {
    margin-left: 4px;
}

.privacy {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.lock-icon {
    font-size: 13px !important;
    color: #606060 !important;
}

.privacy > span {
    margin-left: 4px;
    font-size: 12px;
    color: #606060;
}

.more__actions {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.shuffle-icon {
    color: #606060 !important;
    font-size: 24px !important;
    cursor: pointer;
    margin-right: 8px;
}

.more-icon {
    color: #606060 !important;
    font-size: 24px !important;
    cursor: pointer;
}

.subscriber__infor {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.avatar-icon {
    height: 48px !important;
    width: 48px !important;
    background-color: #065fd4 !important;
    margin-right: 10px;
    cursor: pointer;
}

.avatar-icon > span {
    font-size: 24px;
}

.subscriber__name {
    font-size: 14px;
    color: #000000;
    cursor: pointer;
}
.likedVideos__actual__videos {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    background-color: #f1f1f1;
    padding-right: 40px;
    overflow-y: scroll;
}
.likedVideos__actual__videos::-webkit-scrollbar {
    display: none;
}

.likedVideos__actual__videos__two {
    display: none;
}

.liked__videos__header {
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-left: 36px;
    padding-bottom: 8px;
    cursor: pointer;
}

.liked__videos__header > span {
    color: #606060;
    font-size: 14px;
}

.lv__video__div {
    display: flex;
    align-items: center;
    padding-top: 16px;
}

.lv__video__div:hover {
    background-color: rgb(230, 230, 230);
}

.row-1 {
    margin-top: 10px;
}

.video__number {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    color: #606060;
    font-size: 14px;
}

.likedVideos__videoCard {
    display: flex;
    align-items: center;
    flex: 1;
    padding-bottom: 16px;
    border-bottom: 1px solid lightgray;
    
}

.likedVideos__videoCard:hover {
    transform: scale(1.015);
}

.lv__vcard__img {
    height: 67px;
    width: 120px;
    cursor: pointer;
}

.lv__vcard__details {
    margin-left: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 67px;
    width: 120px;
    cursor: pointer;
}

.lv__video__title {
    color: #030303;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
}

.channel__name {
    color: #000000;
    font-size: 10px;
}

/* MEDIA QUERIES */


@media screen and (max-width: 928px) {
    .lv__summary {
        width: 50%;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .likedVideos__actual__videos {
        width: 50%;
    }
    .lv__video__title {
        font-size: 0.9rem;
        margin-bottom: 2px;
        height: 35px;
        overflow: hidden;
    }
    .lv__channel__title {
        
        font-size: 12px;
    }
}

@media screen and (max-width: 660px) {
    .likedVideos {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .likedVideos::-webkit-scrollbar {
        display: none;
    }

    .lv__summary {
        display: none;
    }

    .lv__summary__two {
        display: flex;
        flex-direction: column;
        padding-left: 10vw;
        padding-right: 10vw;
        margin-bottom: 20px;
        /* border: 1px dashed red; */
    }

    .likedVideos__actual__videos {
        display: none;
    }

    .likedVideos__actual__videos__two {
        /* border: 1px dashed blue; */
        display: flex;
        flex-direction: column;
        padding-left: 10vw;
        padding-right: 10vw;
        margin-bottom: 30px;
    }
    
    .lv__video__title {
        font-size: 0.9rem;
        margin-bottom: 2px;
        height: 35px;
        overflow: hidden;
    }
    .lv__channel__title {
        
        font-size: 12px;
    }
}


@media screen and (max-width: 499px) {
    .lv__summary__two {
        padding-left: 5vw;
        padding-right: 5vw;
        
        /* border: 1px dashed red; */
    }

    .bigger__title {
        font-size: 20px !important;
    }

    .likedVideos__actual__videos__two {
        /* border: 1px dashed blue; */
        display: flex;
        flex-direction: column;
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

@media screen and (max-width: 350px) {
    .lv__summary__two {
        padding-left: 0;
        padding-right: 0;
        
        /* border: 1px dashed red; */
    }

    .bigger__title {
        font-size: 20px;
        padding-left: 10px;
    }

    .lv__video__details {
        padding-bottom: 10px;
    }

    .likedVideos__actual__videos__two {
        /* border: 1px dashed blue; */
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    .metadata {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 0;
        overflow: hidden;
    }

    .metadata > p {
        width: 90%;
        padding-left: 18px;
        margin-right: 0;
        overflow: hidden;
    }

    .metadata > p > span {
        margin-right: 0;
        overflow: hidden;
    }

    .privacy,
    .more__actions {
        padding-left: 10px;
    }

    .subscriber__infor {
        width: 100%;
        padding-left: 5px;
        margin-right: -50px;
        overflow: hidden;
    }

    .subscriber__name {
        margin-right: 0;
        overflow: hidden;
    }

    .avatar-icon {
        height: 35px !important;
        width: 35px !important;
        background-color: #065fd4 !important;
        margin-right: 10px;
        cursor: pointer;
    }

    .avatar-icon > span {
        font-size: 16px;
    }

    
    .lv__video__div {
        padding-top: 8px;
    }

    .likedVideos__videoCard {
        padding-bottom: 8px;
        margin-right: 0;
        width: 100%;
        
        flex-direction: column;
    }

    .video__number {
        display: none;
    }


    .lv__vcard__img {
        height: 23vh;
        width: 100%;
        cursor: pointer;
    }

    .lv__vcard__details {
        
        display: flex;
        flex: 1;
        flex-direction: column;
        height: 70px;
        width: 100%;
        cursor: pointer;
    }

    .lv__video__title {
        width: 100%;
    }
}