.privacySettings {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-left: 2.8rem;
    padding-right: 3rem;
    height: 82vh;
    flex: 1;
    overflow-y: scroll;
}

.privacySettings::-webkit-scrollbar {
    display: none;
}

.privacy__div {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid lightgray;
}

.privacy__div:last-child {
    border-bottom: none;
    padding-bottom: 2.4rem;
}

.title1 {
    font-size: 16px;
    font-family: "Roboto", Arial, sans-serif;
}

.privacy__sub__div {
    display: flex;
    height: 11.25rem;
    width: 100%;
}

.privacy__sub__div__text {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
}

.privacy__sub__div__text > h2 {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 50px 0 12px 0;
}

.privacy__sub__div__text > h4 {
    font-size: 14px;
    color: #606060;
    font-weight: 400;
    padding-bottom: 7px;
}

.privacy__sub__div__text > h4 > a {
    text-decoration: none;
    color: #065fd4;
}

.privacy__sub__div__avatar {
    display: flex;
    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: center;
}

.privacy__sub__div__avatarImg {
    height: 11rem !important;
    width: 11rem !important;
}

.privacy__sub__div2 {
    display: flex;
    padding-bottom: 1rem;
}

.privacy__sub__div2:last-child {
    padding-bottom: 0;
}

.privacy__sub__div2 > h3 {
    font-size: 14px;
    font-family: "Roboto", Arial, sans-serif;
    color: #030303;
    font-weight: 600;
    width: 10rem;
    margin-right: 3.5rem;
}

.privacy__sub__div__subscriptions {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* padding-top: 0; */
}

.privacy__subscriptions__sub__div {
    display: flex;
    margin-bottom: 1rem;
}

.switch__div {
    width: 3.5rem;
    /* padding-top: -0.5rem; */
}

/*switch styling*/
.switch {
    opacity: 0;
}

.switch__btn {
    position: relative;
    width: 2.1rem;
    height: 0.9rem;
    background-color: #e5e5e5;
    border-radius: 20px;
    cursor: pointer;
}

.switch__btn:before {
    content: "";
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background: gray;
    top: -0.2rem;
    left: -0.2rem;
    box-shadow: 0px 1px 1px gray;
    transition: all 300ms ease-out;
}

.switch > input:checked + .switch__btn:before {
    left: 1rem;
    background-color: #065fd4;
}

.subscriptions__sub__div {
    display: flex;
    flex-direction: column;
    padding-top: 0.8rem;
}

.subscriptions-heading {
    color: #030303;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.subscriptions__sub__div > p,
.privacy__sub__div__subscriptions > p {
    color: #606060;
    font-size: 14px;
    font-family: "Roboto", "Arial", sans-serif;
    width: 100%;
}

a {
    color: #065fd4;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
    text-decoration: none;
}
