.videoCard {
    height: 236.08px;
    width: 260px;

    border-radius: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 0;
    cursor: pointer;
    font-family: "Roboto", Arial, sans-serif;
}

.videoCard:hover {
    transform: scale(1.015);
    transition: all 150ms;
}

.videoCard__image {
    padding: 0;
    width: 100%;
    height: 142.08px;
    position: relative;
}

.vid__duration {
    color: #fff;
    font-size: 13px;
    padding: 3px 5px;
    background-color: #030303;
    opacity: 0.9;
    position: absolute;
    bottom: 6px;
    right: 6px;
    z-index: 1;
}

.videoCard__picture {
    height: 100%;
    width: 100%;
}

.channel__title {
    color: black;
    font-size: 0.84rem;
    line-height: 1rem;
    font: bold;
    font-family: "Roboto", Arial, sans-serif;
    margin-bottom: 10px;
}

.videoCard__otherDetails {
    display: flex;
    height: 94px;
}

.videoCard__channel {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding-right: 10px;
}

.videoCard__channel__title {
    margin-top: 5px;
}

.videoCard__avatar {
    margin-top: 5px;
    height: 36px !important;
    width: 36px !important;
}

.channel__name {
    font-size: 14px;
    font-weight: 400;
    color: #606060;
    margin-top: 5px;
}

.channel__views__timestamp {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #606060;
    padding-right: 20px;
    margin-left: 0;
    padding-left: 0;
}

.the-dot {
    margin-left: 3px;
    margin-right: 3px;
}

/* MEDIA QUERIES */

@media (max-width: 1328px) {
    .videoCard {
        
        height: 20vw;
        margin-bottom: 20px;
        width: 21.8vw;

        padding-left: 7px;
        padding-right: 7px;
    }

    .videoCard__image {
        height: 64%;
        object-fit: cover;
    }

    .videoCard__otherDetails {
        height: 36%;
        padding-right: 0;
    }

    .channel__title {
        height: 30px;
        overflow: hidden;
    }

    .channel__views__timestamp {
        padding-right: 0;
    }
}

@media (max-width: 1100px) {
    .videoCard {
        
        height: 25vw;
        margin-bottom: 20px;
        width: 29.1vw;

        padding-left: 7px;
        padding-right: 7px;
    }

    .videoCard__image {
        height: 65%;
        object-fit: cover;
    }

    .videoCard__otherDetails {
        height: 35%;
        padding-right: 0;
    }

    .channel__title {
        height: 30px;
        overflow: hidden;
    }

    .channel__views__timestamp {
        padding-right: 0;
    }
}

@media (max-width: 960px) {
    .videoCard {
        
        height: 30vw;
        margin-bottom: 20px;
        width: 28.5vw;

        padding-left: 6px;
        padding-right: 6px;
    }

    .videoCard__image {
        height: 60%;
        object-fit: cover;
    }

    .videoCard__otherDetails {
        height: 40%;
        padding-right: 0;
    }

    .channel__title {
        height: 30px;
        overflow: hidden;
    }

    .channel__views__timestamp {
        padding-right: 0;
    }
}

@media (max-width: 799px) {
    .videoCard {
        
        height: 37vw;
        margin-bottom: 20px;
        width: 43vw;

        padding-left: 10px;
        padding-right: 10px;
    }

    .videoCard__image {
        height: 65%;
        object-fit: cover;
    }

    .videoCard__otherDetails {
        height: 35%;
        padding-right: 0;
    }
}

@media (max-width: 650px) {
    .videoCard {
        
        height: 40vw;
        margin-bottom: 20px;
        width: 47.8vw;

        padding-left: 5px;
        padding-right: 5px;
    }

    .videoCard__image {
        height: 65%;
        object-fit: cover;
    }

    .videoCard__otherDetails {
        height: 35%;
        padding-right: 0;
    }
}

@media (max-width: 550px) {
    .videoCard {
        width: 100%;
        height: 55vw;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .videoCard__image {
        height: 65%;
        object-fit: cover;
    }

    .videoCard__otherDetails {
        height: 35%;
        padding-right: 0;
    }

    .channel__title {
        height: 30px;
    }

    .videoCard__channel {
        padding-right: 5px;
        flex: 1;
    }
}

@media (max-width: 480px) {
    .videoCard {
        width: 100% !important;
        height: 270px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .videoCard__image {
        height: 68%;
        object-fit: cover;
    }

    .videoCard__otherDetails {
        height: 32%;
        padding-right: 0;
    }

    .channel__title {
        height: 15px;
        overflow: hidden;
    }

    .videoCard__channel {
        padding-right: 5px;
    }

    .channel__views__timestamp > .views{
        width: 100px;
        margin-right:0;
        text-transform: lowercase;
    }
}

@media (max-width: 400px) {
    .videoCard {
        width: 100%;
        height: 270px;

        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .videoCard__image {
        height: 68%;
        object-fit: cover;
    }

    .videoCard__otherDetails {
        height: 32%;
    }

    .videoCard__channel {
        padding-right: 5px;
    }
}

@media (max-width: 300px) {
    .videoCard {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
        
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .videoCard__image {
        height: 65%;
        object-fit: contain;
    }

    .videoCard__otherDetails {
        height: 35%;
    }

    .channel__title {
        margin-bottom: 0;
    }

    .videoCard__channel {
        padding-right: 5px;
    }

    .channel__views__timestamp {
        padding-right: 0;
    }
}

@media screen and (min-width: 1329px) {
    .videoCard {
        
        height: 18vw;
        margin-bottom: 20px;
        width: 19.3vw;

        padding-left: 5px;
        padding-right: 5px;
    }

    .videoCard__image {
        height: 64%;
        object-fit: cover;
    }

    .videoCard__otherDetails {
        height: 36%;
        padding-right: 0;
    }

    .channel__title {
        height: 30px;
        overflow: hidden;
    }

    .channel__views__timestamp {
        padding-right: 0;
    }
}
