.historyVideoCard {
    display: flex;
    height: 8.625rem;
    width: 100%;
    margin-bottom: 0.9375rem;

    text-decoration: none !important;
}

.history__video__image__div {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 1rem;
    padding: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
}

.history__video__image__src {
    width: 100%;
    height: 100%;
}

.history__component__details {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
}

.component__header {
    display: flex;
    align-items: center;
}

.history__component__title {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    color: #030303;
    cursor: pointer;
}

/* .more__icon__button {
    height: 40px;
    width: 40px;
}

.more__icon__button:hover {
    background-color: transparent !important;
}

.more__icon {
    height: 24px !important;
    width: 24px !important;
    color: #606060 !important;
}

.more__icon:hover {
    color: #030303;
    cursor: pointer;
} */

.component__views__and__timestamp {
    display: flex;
    align-items: center !important;
    vertical-align: middle;
    font-size: 13px;
    color: #606060;
    cursor: pointer;
}

.channel__name {
    font-size: 13px;
    color: #606060;
    margin-right: 5px;
}

.component__description {
    font-size: 13px;
    color: #606060;
    padding-top: 0.5rem;
    padding-top: 0.5rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1100px) {
    .history__video__image__div {
        width: 45%;
    }

    .history__component__details {
        width: 55%;
    }
}

@media screen and (max-width: 1000px) {

    .historyVideoCard {
        height: 10rem;
    }

    .history__video__image__div {
        width: 60%;
    }

    .history__component__details {
        width: 40%;
    }

    .component__views__and__timestamp {
        display: flex;
        flex-direction: column;
    }

    .channel__name {
        width: 100%;
        margin-right: 0;
    }

    .component__views__and__timestamp > span {
        width: 100%;
    }

    .some__dotty {
        display: none;
    }

    .component__description {
        display: none;
    }
}

@media screen and (max-width: 756px) {
    .historyVideoCard {
        margin-bottom: 2rem;
    }

    .history__video__image__div {
        width: 100%;
        margin-right: 0;
    }
    .history__component__details {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .historyVideoCard {
        margin-bottom: 1rem;
        height: 9rem;
    }

    .history__video__image__div {
        width: 58%;
        margin-right: 10px;
    }
    .history__component__details {
        display: flex;
        flex: 1;
    }

    .history__component__title {
        
        font-size: 16px;
        height: 35px;
        overflow: hidden;
    }
}

@media screen and (max-width: 400px) {
    .historyVideoCard {
        height: 8rem;
    }
}

@media screen and (max-width: 350px) {
    .historyVideoCard {
        height: auto;
        flex-direction: column;
    }

    .history__video__image__div {
        width: 100%;
        margin-right: 0;
    }

    .history__component__details {
        width: 100%;
    }
}

