.trending {
    background-color: #f9f9f9;
    display: flex;
    flex: 1;
    height: 89.5vh;
    color: #000000;
    font-family: Roboto, Arial, sans-serif;
}

.primary2 {
    display: flex;
    flex: 1;
    background-color: transparent;
    height: 89vh;
    overflow-y: scroll;
}

.primary2::-webkit-scrollbar {
    display: none;
}

.trending__content {
    padding-top: 1.25rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.trending__content::-webkit-scrollbar {
    display: none;
}

.trending__content__icons {
    height: 8.75rem;
    padding-bottom: 0.5rem;
    padding-top: 0;
    margin-top: -0.5rem;
    display: flex;
    align-items: center;
}

.t__icon__div {
    display: flex;
    flex-direction: column;

    height: 6.25rem;
    width: 13.25rem;
    border-radius: 10px;
    margin-right: 5px;
    background-color: #ffffff;
    padding-top: 1.25rem;
    padding-left: 1.25rem;

    cursor: pointer;
}

.t__icon__div:hover {
    background-color: rgb(228, 225, 225);
}

.icon__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    font-weight: 600;
    color: #030303;
}

.t-icon {
    height: 2.5rem !important;
    width: 2.5rem !important;
    margin-bottom: 0.8rem;
}

.t-icon.music {
    color: rgb(245, 245, 62) !important;
}

.t-icon.gaming {
    color: rgb(250, 95, 6) !important;
}

.t-icon.sports {
    color: blue !important;
}

.trending__content__videos {
    padding-top: 2rem;
    padding-bottom: 1rem;
    flex: 1;
}

.trending__content__videos > h3 {
    margin-bottom: 1.5rem;
    font-size: 1rem;
}
