.watchVideo {
    background-color: #a3a1a10d;
    position: fixed;
    height: 91.9vh;
    width: 99.9%;
    flex-wrap: wrap;
}

.primary {
    background-color: #a3a1a10d;
    padding-top: 0;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    /* overflow-y: scroll; */
    display: flex;
    flex-direction: row;
}

/* .primary::-webkit-scrollbar {
    display: none;
} */


/* MEDIA QUERIES */

@media screen and (max-width: 1260px) {
    .primary {
        padding-left: 2vw;
        padding-right: 2vw;
    }
}

@media screen and (max-width: 1016px) {
    .primary {
        padding-left: 4vw;
        padding-right: 4vw;
    }
}

@media screen and (max-width: 350px) {
    .primary {
        padding-left: 0;
        padding-right: 0;
    }
}

